*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #0c0c0c;
}

#monner{
    transform-origin: top left;
    position: absolute;
    aspect-ratio: 137 / 344;
    height: 344px;
    cursor: pointer;
    filter: drop-shadow(0px 0px 0px transparent);
    transition: filter ease-in-out 0.25s;
}

#monner:hover{ 
    filter: drop-shadow(0px 0px 30px rgba(145, 70, 255, 0.4));
}