*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #1b1b1b;
}

#monner{
    transform-origin: top left;
    position: absolute;
    height: 344px;
    width: 137px;
    cursor: pointer;
}